@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Shared Styles */
* {
    font-family: "Fira Sans", serif;
    color: #000;
}
body {
    margin: 0;
    background-color: #F5F5F5;
}
header {
    background-color: #F5F5F5;
}
.s {
    width: 1280px;
    margin: 0 auto;
}
.btn-primary {
    font-size: 18px;
    padding: 20px 30px;
    background-color: #276A50;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.btn-primary:hover {
    transition: .3s;
    background-color: #1d4737;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 23px;
}
p {
    color: #3E3E3E;
    font-size: 16px;
    margin-bottom: 23px;
}
.btn-tertiary {
    padding: 11px 21px;
    font-size: 16px;
    background-color: #44A15C;
    outline: none;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.btn-tertiary:hover {
    background-color: #347043;
}
.btn-secondary {
    padding: 15px 32px;
    font-size: 16px;
    background-color: #276A50;
    outline: none;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.btn-secondary:hover {
    background-color: #17382c;
}

/* Unique Style */
.header-s {
    padding-top: 100px;
}
.header-a {
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aee2ca;
    border-radius: 24px;
}
.header-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
h5 {
    color: #677972;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    max-width: 580px;
}

.vision-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    column-gap: 30px;
}
.vision-card {
    padding: 30px;
    border-radius: 16px;
    background-color: #D5E1F4;
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.vc2 {
    background-color: #C6E4D6;
}
.vc3 {
    background-color: #F7EBCE;
}
h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 10px;
}
.vision-card p {
    margin: 0 0 25px 0;
}
.vc1 .btn-tertiary {
    background-color: #5390F5;
}
.vc1 .btn-tertiary:hover {
    background-color: #4669a1;
}
.vc3 .btn-tertiary {
    background-color: #FEC23A;
}
.vc3 .btn-tertiary:hover {
    background-color: #d4a63b;
}

.quote-a {
    padding: 25px 20px;
    border: 1px solid #DBDBDB;
    border-radius: 16px;
    background-color: white;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 20px 12px;
}
.quote-a p {
    margin-bottom: 0px;
}
.quote-a h5 {
    font-size: 20px;
    font-weight: 600;
    color: #3E3E3E;
    margin-top: 20px;
    margin-bottom: 5px;
}
.quote-a span {
    font-size: 16px;
    font-weight: 400;
    color: #6E6E6E;
}

.news-cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.news-card {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 24px;
    column-gap: 30px;
}
.news-card img {
    border-radius: 24px;
}
.news-card h3 {
    font-size: 32px;
    font-weight: 700;
    color: #3E3E3E;
    margin-top: 15px;
    margin-bottom: 10px;
}
.news-card-info img {
    margin-bottom: 6px;
}
.news-card-info span {
    color: #3E3E3E;
}
.news-card p {
    color: #3E3E3E;
    margin-bottom: 35px;
}

.donate-s * {
    text-align: center;
}
.donate-a {
    width: 1140px;
    margin: 0 auto;
}
.donate-cards {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    margin-bottom: 30px;
}
.donate-a h6 {
    font-size: 40px;
    font-weight: 700;
    color: #3E3E3E;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #EDEDED;
    padding: 39px 48px;
    margin: 0;
}
.donate-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate-form input[type=text] {
    width: 100%;
    outline: none;
    border-bottom: 1px solid #DBDBDB;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 22px 0;
    border-radius: 16px;
    font-size: 20px;
    color: #464646;
    margin-bottom: 35px;
}
.donate-form input[type=text]::placeholder {
    color: rgb(136, 136, 136);
}
.donate-form input[type=submit] {
    padding: 19px 32px;
}

.newsletter-s {
    padding-top: 100px;
    padding-bottom: 100px;
}
.newsletter-a {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aee2ca;
    border-radius: 24px;
}
.newsletter-a h2 {
    margin-top: 0;
}
.newsletter-a p {
    max-width: 600px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.newsletter-form input[type=text] {
    width: 520px;
    outline: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 18px 40px;
    border-radius: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 16px;
    color: #464646;
    margin-bottom: 25px;
}
.newsletter-form input[type=submit] {
    max-width: 150px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: -5px;
    padding: 18px 40px;
}
